<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BruTile" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Fizzler" version="1.2.0" targetFramework="xamarinios10" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="xamarinios10" />
  <package id="Mapsui" version="3.0.2" targetFramework="xamarinios10" />
  <package id="Mapsui.Forms" version="3.0.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="ShimSkiaSharp" version="0.5.7.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="2.80.2" targetFramework="xamarinios10" />
  <package id="Svg.Custom" version="0.5.7.1" targetFramework="xamarinios10" />
  <package id="Svg.Model" version="0.5.7.1" targetFramework="xamarinios10" />
  <package id="Svg.Skia" version="0.5.7.1" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.3" targetFramework="xamarinios10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Topten.RichTextKit" version="0.4.145" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2337" targetFramework="xamarinios10" />
</packages>